meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title memo memo
//- link(rel="icon", href="icon.png", type="image/x-icon")
<!--[if lt IE 8]>
script(src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.7.1.js")
<![endif]-->
//- bootstrap なんとかしたい...
<script src="./lib/jquery.min.js"></script>
<link rel="stylesheet" href="./lib/bootstrap.min.css">
<script src="./lib/bootstrap.min.js"></script>
<script src="./lib/fontawesome.js"></script>

//:markdown-it:#h1
